# Flask Config
SECRET_KEY=dev-secret-key-123
FLASK_APP=run.py
FLASK_DEBUG=1

# Database Configuration (SQLite)
SQLALCHEMY_DATABASE_URI=sqlite:///energywatch.db

# MongoDB Configuration for Audit Logs
MONGO_URI=mongodb://localhost:27017/energywatch

# Email Configuration (for Forgot Password & Notifications)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=noreply@energywatch.com
